* {
    border: none;
    border-radius: 0;
    font-family: 'Noto Sans';
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #2e3440;
}

#workspaces,
#clock,
#pulseaudio,
#network,
#custom-power,
#window {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2px 10px;
    margin: 4px 4px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#workspaces button {
    padding: 0 5px;
    color: #2e3440;
}

#workspaces button.active {
    color: #5e81ac;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.1);
}
